.theme-dark {
    background-color: #9171f8;
    color: white; 
}

.dropdown-item{
    color: white;
    cursor: pointer;
    background-color: #9171f8;
}
.dropdown-item:hover {
    background-color: #a688fa;
}

.search-bar {
    background-color: #ba9ffb;
    color: white;
}

a {
    text-decoration: none;
}
