* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.full-center {
    align-items: center;
    justify-content: center;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

body {
    background-color: #121212;
}
